body {
  font-family: sans-serif;
  max-width: 100rem;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightpink;
  text color: black;
  text-align: center;
}

header {
  background-color: black;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  text-align: center;
  font-style: initial;
}

img {
  width: 100%;
  margin-left: 20px;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center;
}

p {
  font-size: 15px;
  color: black;
  text-align: center;
  font-style: initial;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


h3 {
  color: white;
  text-align: center;
  font-style: initial;

h4 {text-align: center}

}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1151.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1151.png), auto !important;} /* End https://www.cursors-4u.com */

